backend/api/node_modules
backend/api/build

backend/mongoDB/node_modules
backend/mongoDB/build

backend/postgreSQL/node_modules
backend/postgreSQL/build

backend/common/node_modules
backend/common/build

database/mongoDB/mdbdata/*
database/postgreSQL/pgdata/*

.DS_Store